/* Google Font Dahil Etme */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #768f7e;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px; /* Menü elemanları arası boşluk */
}

.nav-links li a {
    text-decoration: none;
    color: #e5e2e2;
    font-weight: 500;
}
.nav-links li a:hover {
    color: #d81074; /* Hover efekti için renk */
}
nav .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #010502;
}   
nav .logo img {
    width: 100px; /* Logo boyutu */
    height: auto;
    margin-right: 10px; /* Logo ile metin arasındaki boşluk */
}
.Hero {
    background-image: url('img/hero.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(242, 236, 236);
    position: relative;
    z-index: 1;
}
.Hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
}
.products {
    display: flex;
    gap: 20px; /* Ürün kartları arasındaki boşluk */
    justify-content: center;
    flex-wrap: wrap; /* Ekran küçüldüğünde alt satıra geçmesi için */
    margin-top: 20px; /* Ürünler ile başlık arasındaki boşluk */
}
.product-card {
    background-color: #768f7e;
    border: 1px solid #8c1515;
    border-radius: 5%;
    padding: 9px;
    text-align: center;
    width: 200px; /* Kart genişliği */
}
.product-card img {
    width: 100%;       /* Kartın genişliğine tam otursun */
    height: 250px;      /* Tüm resimler için sabit bir yükseklik (değeri değiştirebilirsin) */
    object-fit: cover;  /* Resmin oranını bozmadan alanı kaplamasını sağlar (en önemli kısım!) */
    border-radius: 8px; /* İsteğe bağlı: köşeleri yumuşatır */
}

div.products {
    background-color: #e9ecbb;
    padding: 20px;
    border: 1px;
    border-radius: 10px;
    margin-top: 20px;
}
div.product-card button {
    padding: 10px 20px;
    background-color: #b30074;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
div.product-card button a {
    color: #fff;
    text-decoration: none;
}
div.content h2 {
    color: #031e2f;
    text-align: center;
}
body {
    background-color: #e9ecbb;
}
footer {
    background-color: #768f7e;
    color: #e5e2e2;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
footer li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
footer li a {
    text-decoration: none;
    color: #1a6695;
}
footer li a:hover {
    color: #d81074;
}
footer h2 {
    color: black;
}
footer p {
    color: #031e2f;
}   
