@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
/*body */
body {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: beige;
}
/* Navigasyon barı */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #768f7e;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px; /* Menü elemanları arası boşluk */
}
.nav-links a {
    text-decoration: none;
    color: #e5e2e2;
}
.nav-links a:hover {
    color: #d81074;
}
nav .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #010502;
}   
nav .logo img {
    width: 100px; /* Logo boyutu */
    height: auto;
    margin-right: 10px; /* Logo ile metin arasındaki boşluk */
}
/* form */
section {
    padding: 50px;
    text-align: center;
}
.appointment-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Form elemanları arası boşluk */
    max-width: 400px;
    margin: 0 auto;
}
.appointment-form input {
    padding: 10px;
    border: 1px solid #07af3c;
    border-radius: 5px;
}
.appointment-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #589069;
    color: white;
    cursor: pointer;
}
div.giris{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #3e8f58;
}
div.kayit{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #3e8f58;
}
div.giris a, div.kayit a{
    text-decoration: none;
    color: #030303;
}
div.giris a:hover, div.kayit a:hover{
    color: #d81074;
}
div.giris{
    margin: 15px auto;
}

div.kayit{
    margin: 15px auto;
}
/* Footer Stilleri */
footer {
    background-color: #768f7e;
    color: #e5e2e2;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
footer li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
footer li a {
    text-decoration: none;
    color: #1a6695;
}
footer li a:hover {
    color: #d81074;
}
footer h2 {
    color: black;
}
footer p {
    color: #031e2f;
}   

